/* Start Global  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img,
video,
iframe {
    max-width: 100%;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}
section {
	overflow: hidden;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      width: 1320px;
    }
  }
/* Eng Global  */
/* Start Helper  */
.padding-40 {
    padding: 40px 0px;
}
.text-center {
    text-align: center;
}
/* End Helper  */
:root {
    --primary-color: #F29FBF;
    --second-color: #115480;
}
body {
    line-height: 1.9;
    font-family: 'Cairo', sans-serif;
    background-image: url("../img/222.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	counter-reset: authority;
    counter-reset: products-details 6;

}
::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background: white;
}
/* 
=================
Start Home Section 
=================
*/
.home {
    min-height: 100vh;
    text-align: center;
    background:#0f45960f;
    padding: 15px 0px;
}
.home .home__logo {
    border-radius: 114px;
    background: white;
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
}
.home .home__big-title {
	font-size: 18px;
	line-height: 2;
	font-weight: 700;
}
.home .home__sub-title {
    color: var(--second-color);
}
.home .home__logo img {
    display: inline-block;
    width: 200px;
}
.home .home__main-img-container {
    width: fit-content;
    border: 5px solid #ddd;
    margin: auto;
    overflow: hidden;
    border-radius: 6px;
}
.home .home__main-img-container img {
    display: block;
    width: 600px;
}
/*
=================
 End Home Section 
=================
 */
/* Start authority  */
.authority ul {
	text-align: right;
    counter-reset: authority;
}
.products ul li p,
.authority ul li {
	position: relative;
	display: grid;
    grid-template-columns: auto 1fr;
	gap: 10px;
	margin-top: 15px;
}
.products ul li p,
.authority ul li p {
	position: relative;
}
.products ul li p::before,
.authority ul li::before {
    counter-increment: authority;
    content: counter(authority);
    background: yellowgreen;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
}
/* End   authority  */
/* Start products  */
.products ul  {
    counter-reset: products-details;
}
.products ul li {
    
    list-style: none;
    background: white;
    padding: 5px;
    border-radius: 23px;
}
.products ul li p::before {
    counter-increment: products-details;
    content: counter(products-details);
}
.carousel {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    /* overflow: hidden; */
    border-radius: 4px;
    /* for space h5  */
    padding: 40px;
    overflow: hidden;
}
.carousel-inner {
    overflow: visible;
}
@media (min-width: 768px) {
    /* .carsousel-item {
        display: flex;
    } */
}
.carousel-caption {
    /* // rest bootstrap property  */
    position: static;
    right: 0%;
    bottom: 0%;
    left: 0%;
    padding-top:    0rem;
    padding-bottom: 0rem;
    color: inherit;
    text-align: inherit;
    overflow: hidden;
}
.caption h5 {
    margin-bottom: 15px;
}
.product-section .carousel-control-prev-icon,
.product-section .carousel-control-next-icon  {
    width: 4rem;
    height: 4rem;
}
.carousel-item img {
    flex: 1;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    overflow: hidden;
    border: 2px solid #000000c6;
}
.caption {
    line-height: 2;
    flex: 1;
}
.caption p {
    color: #777;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    position: relative;
    /* background-image: none; */
}
.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    content: "";
    /* background-image: url("../img/cursor-next.png"); */
    /* font-family: var(--fa-style-family-classic); */
    /* font-weight: 900; */
    position: absolute;
    /* top: 50%;
    transform: translateY(-50%); */
    left: 00%;
    color: rgb(183, 93, 93);
    transition: .3s;
    font-size: 100px;
    width: 40px;
    height: 20px;
}



.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
}


.carousel-control-prev-icon::after:hover,
.carousel-control-next-icon::after:hover {
    color: black;
}
.carousel-control-next-icon::after {
    /* content: "\f105"; */
    content: "";
    /* background-image: url("../img/cursor-previous.png"); */
    left: auto;
    right: 00%;
}
.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    top: -50%;
    transform: translateY(-100%);
}
@media (min-width: 768px) {
    .carousel-control-next-icon::after {
        right: -100%;
        top: 50%;
        transform: translateY(-50%);
    }
    .carousel-control-prev-icon::after {
        left: -100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* End products  */
/* Start testimonal  */
.testimonals {
    background: white;
}
.testimonals .box {
    background: #eee;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (min-width: 576px) {
    .testimonals .box  {
        font-size: 14px;
    }
}
/* end testimonal  */
/* Start more-details Section  */
.more-details {
    background: #eee;
}
.more-details .box {
    border: 2px dashed #ddd;
    padding: 5px;
}
.testimonals .quote {
    position: relative;
    flex: 1;
}
.testimonals .quote::before {
    position: absolute;
    content: '‘';
    font-size: 30px;
    color: blue;
    top: -25px;
    right: -6px;
}
.testimonals .quote::after {
    position: absolute;
    content: '’';
    color: blue;
    bottom: -21px;
    font-size: 30px;
    left: -4px;
}
/* End more-details Section  */
/* Start footer  */
footer {
    background-color: #C4C4CF;
    color: white;
}
footer .copy {
    color: white;
}
 svg {
	width: 100%;
	fill: #C4C4CF ;
    background: #eee;
    text-align: center;
}
footer .logo {
	width: 200px;
    padding: 20px 0px;
}
/* End footer  */
/* Start components  */
.sub-title ,
.title {
    width: fit-content;
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #259762 ;
    margin-bottom: 15px;
    position: relative;
    color: #259762;
}
.sub-title::before,
.title::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 6px;
    background: #259762;

}
.sub-title {
    font-size: small;
    margin-top: 15px;
    margin-bottom: 15px;
}
p {
    color: #050000ad;
}
.cta-red {
    margin: 15px auto;
    min-width: 60px;
    background: red;
    border: none;
    outline: none;
    white-space: nowrap;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}
/* End components  */
/* Start Modal Open img  */
  /* The Modal (background) */
  .open-img-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
.open-img-modal .open-img-modal__content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 400px;

  }
  
  /* Caption of Modal Image */
.open-img-modal .open-img-modal__caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
.open-img-modal .open-img-modal__caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {-webkit-transform:scale(0);transform:scale(0)} 
    to {-webkit-transform:scale(1);transform:scale(1)}
  }
  /* add class when open modal  */ 
.open-img-modal.flex-js {
	display: flex;
	justify-content: center;
	align-items: center;
	padding 15px;
}
  /* The Close Button */
  .open-img-modal .open-img-modal__close-btn {
    position: absolute;
    top: 0px;
    left: 23px;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
.open-img-modal .open-img-modal__caption {
	color: white
}
  .open-img-modal .open-img-modal__close-btn:hover,
  .open-img-modal .open-img-modal__close-btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .open-img-modal .open-img-modal__content {
    width: 100%;
    }
}
/* End Modal Open img  */
/* Start  Floting whatapp  */
.whatsapp-icon-floting {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:18px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    -webkit-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-float{
    width: 30px;
    fill: white;
    background: transparent;
}
/* End Floting whatapp  */